# Ignore environment variables
.env
.env.development
.env.staging
.env.production

# Ignore node_modules directory
node_modules/

index

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
