.hero {
  background-image: url(../assets/1.png);
  background-blend-mode: overlay, difference, normal;
  background-repeat: no-repeat;
  background-size: 70em 65em;
  background-position: center;
  animation: slideDown 1.5s ease forwards;
  filter: hue-rotate(50deg);
}

.get:hover {
  border-radius: 2em;
  transition: 0.4s;
  transform: translateY(-5px);
  box-shadow: 5px 5px #ffffff;
}
