.hero h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.4)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
