.list {
  padding: 1em;
  border-radius: 1em;
}
.list:hover {
  border-radius: 1em;
  transition: 0.5s;
  transform: translateY(-5px);
  box-shadow: 5px 5px #f1f0f1;
  border: 1px solid white;
}

.auth:hover {
  transform: translateY(-5px);
  transition: 0.5s;
  box-shadow: 5px 5px #ffffff;
  border: 1px solid rgb(255, 255, 255);
}
