@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 80%;
    --foreground: 222.2 84% 90%;

    --card: 0 0% 90%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 180 60% 25%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 0, 0%, 86%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 180 60% 20%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 180 20% 40%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0, 0%, 90%;
    --sidebar-foreground: 180 30% 31%;
    --sidebar-primary: 180 60% 38%;
    --sidebar-primary-foreground: 180 90% 100%;
    --sidebar-accent: 180 15% 85%;
    --sidebar-accent-foreground: 60 40% 20%;
    --sidebar-border: 180 20% 50%;
    --sidebar-ring: 180 60% 47%;

    --landing-background: 200 70% 14%;
    --landing-foreground: 198 85% 10%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 198 85% 10%;
    --card-foreground: 180 40% 95%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 180 60% 60%;

    --primary: 210 40% 85%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 198 75% 8%;
    --secondary-foreground: 180 60% 90%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --sidebar-background: 198 90% 11%;
    --sidebar-foreground: 180 40% 95%;
    --sidebar-primary: 180 60% 25%;
    --sidebar-primary-foreground: 180 90% 98%;
    --sidebar-accent: 180 20% 12%;
    --sidebar-accent-foreground: 180 60% 85%;
    --sidebar-border: 180 20% 22%;
    --sidebar-ring: 180 60% 42%;
  }
}
@layer utilities {
  .container {
    @apply px-4 mx-auto 
    /*responsive for large screen*/
    2xl:max-w-screen-xl;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-foreground/20 rounded-full hover:bg-foreground/40;
  }
}

@layer components {
  .active-state-alt {
    @apply transition rounded-full text-teal-900 z-[32] dark:text-teal-400;
    /* Dark Mode */
    @apply p-[2px] rounded-full border-2 border-transparent 
    dark:bg-gradient-to-r from-[#27ffc9] via-[#ffffffe3] to-transparent 
    dark:bg-clip-border;

    /* root or light mode */
    background-image: linear-gradient(to right, #cccccc, #ffffffa1),
      linear-gradient(90deg, #12c29693, #fff, transparent);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 2px solid transparent;
    box-shadow: 2em 0 2em 0em inset rgba(116, 126, 125, 0.411);
  }

  .active-state-alt::before {
    content: "";
    @apply absolute inset-0 z-[-1] dark:bg-gradient-to-r from-[#0c1722] to-[#334658] rounded-full;
  }

  .hover-active-state-alt:hover {
    @apply active-state-alt transition-all duration-300;
    @apply p-2;
  }

  .inactive-state {
    @apply text-slate-500 hover:text-teal-950 dark:text-slate-500 dark:hover:text-white;
  }
}

.bg-mask {
  height: 60rem;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.section {
  @apply py-8

  md:py-16;
}

.section-head {
  @apply pb-8
  text-center
  md:pb-16
  
  lg:max-w-screen-sm
  lg:mx-auto;
}

.section-subtitle {
  @apply text-teal-500
  text-sm
  font-medium
  uppercase;
}
.section-title {
  @apply text-white
  text-3xl
  font-semibold
  leading-snug
  py-3
  
  md:text-[40px];
}
.section-text {
  @apply text-slate-400

  md:text-xl;
}

.img-cover {
  @apply w-full h-full object-cover;
}
.feature-card {
  will-change: transform, opacity;
  transform: translateZ(0);
}
