@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 90%;
    --foreground: 222.2 84% 10%;

    --card: 0 0% 90%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 180 60% 2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 0, 0%, 86%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 180 60% 20%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 40%;

    --accent: 222.2 10% 70%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 180 20% 40%;
    --input: 174 60% 2%;
    --ring: 222.2 84% 4.9%;
    
    --radius: 0.5rem;

    --landing-background: 220 40% 10%;
    --landing-foreground: 210 12% 70%;

  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 198 85% 10%;
    --card-foreground: 180 40% 100%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 185 80% 60%;

    --primary: 210 40% 85%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 198 75% 8%;
    --secondary-foreground: 200 80% 80%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 10% 75%;

    --accent: 217.2 20% 30%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 174 60% 70%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bg-mask {
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, -1) 100%
    );
  }

  ::-webkit-scrollbar {
    width: 0.5em;
  }

  ::-webkit-scrollbar-track {
    background: rgba(88, 77, 77, 0.555);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(3, 22, 34);
    border-radius: 10px;
    border: 3px solid rgb(3, 22, 34);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(3, 22, 34, 0.61);
  }
}
