@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 80%;
    --foreground: 222.2 84% 90%;

    --card: 0 0% 90%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 180 60% 2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 0, 0%, 86%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 180 60% 20%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 180 70% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 180 20% 40%;
    --input: 174 60% 2%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0, 0%, 90%;
    --sidebar-foreground: 180 30% 31%;
    --sidebar-primary: 180 60% 38%;
    --sidebar-primary-foreground: 180 90% 100%;
    --sidebar-accent: 180 15% 85%;
    --sidebar-accent-foreground: 60 40% 20%;
    --sidebar-border: 180 20% 50%;
    --sidebar-ring: 180 60% 47%;

    --landing-background: 220 40% 10%;
    --landing-foreground: 210 12% 70%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 198 85% 10%;
    --card-foreground: 180 40% 95%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 180 60% 80%;

    --primary: 210 40% 85%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 198 75% 8%;
    --secondary-foreground: 180 60% 90%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 174 60% 70%;
    --ring: 212.7 26.8% 83.9%;

    --sidebar-background: 198 85% 10%;
    --sidebar-foreground: 180 40% 95%;
    --sidebar-primary: 180 60% 25%;
    --sidebar-primary-foreground: 180 90% 98%;
    --sidebar-accent: 180 20% 12%;
    --sidebar-accent-foreground: 180 60% 85%;
    --sidebar-border: 180 20% 22%;
    --sidebar-ring: 180 60% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .active-state-alt {
    @apply transition rounded-full text-teal-900 z-[32] dark:text-teal-400;
    /* Dark Mode */
    @apply p-2 rounded-full border border-transparent 
    dark:bg-gradient-to-r from-[#27ffc9] via-[#ffffffe3] to-transparent 
    dark:bg-clip-border;

    /* root or light mode */
    background-image: linear-gradient(to right, #cccccc, #ffffffa1),
      linear-gradient(90deg, #12c29693, #fff, transparent);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    box-shadow: 2em 0 2em 0em inset rgba(116, 126, 125, 0.411);
  }

  .active-state-alt::before {
    content: "";
    @apply absolute inset-0 z-[-1] dark:bg-gradient-to-r from-card to-card rounded-full;
  }

  .hover-active-state-alt:hover {
    @apply active-state-alt transition-all duration-300;
    @apply p-2;
  }

  .inactive-state {
    @apply text-slate-500 hover:text-teal-950 dark:text-slate-500 dark:hover:text-white;
  }
}

.bg-mask {
  filter: invert(0) sepia(1) saturate(4) hue-rotate(120deg);
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) -10%,
    rgba(0, 0, 0, -1) 85%
  );
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: rgba(88, 77, 77, 0.555);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(3, 22, 34);
  border-radius: 10px;
  border: 3px solid rgb(3, 22, 34);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 22, 34, 0.61);
}
